.container-wrapper {
    width: 300px;
    float: left;
    margin: 10px;
}

.timeslot {
    margin: 10px;
}

.title {
    font-size: large;
}

.timeslot-selected {
    background-color: blanchedalmond;
}